{# {{oUtilisateur.utilisateur_prenom | json_encode(constant('JSON_PRETTY_PRINT')) }} #}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/admin.css?v=1.1">
</head>

<body>
  <div id="page">
    <header>
      <p>
        {{ oUtilisateur.utilisateur_prenom }} {{ oUtilisateur.utilisateur_nom }}
        <a href="admin?entite=enchere">Afficher les encheres</a>
        <a href="admin?entite=utilisateur&action=l">Afficher les membres</a>
        <a href="accueil">Retourner sur le site </a>
        <a href="admin?entite=utilisateur&action=d">Déconnecter</a>
      </p>
      <nav>
        <ul>

          {% if oUtilisateur.utilisateur_profil == constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
          <li><hr><a href="admin?entite=utilisateur">Utilisateurs</a></li>
          {% endif %} 

        </ul>
      </nav>
    </header>
    <main>

    {{ include(templateMain) }}

    </main>
  </div>
</body>
</html>

{# <!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/admin.css?v=1.1">
</head>

<body>
  <div id="page">
    <header>
      <p>
        {{ oUtilisateur.utilisateur_prenom }} {{ oUtilisateur.utilisateur_nom }}
        <a href="admin?entite=utilisateur&action=d">Déconnecter</a>
      </p>
      <nav>
        <ul>
          <li><hr><a href="admin">Auteurs</a></li>
          <li><a href="admin?entite=livre">Livres</a></li>
        </ul>
      </nav>
    </header>
    <main>

    {{ include(templateMain) }}

    </main>
  </div>
</body>
</html> #}